# relative paths are relative to origin
# e.g. to git@github.com:gsauthof/imapdl.git
[submodule "cmake/ragel"]
	path = cmake/ragel
	url = ../cmake-ragel.git
[submodule "libixxx"]
	path = libixxx
	url = ../libixxx.git
[submodule "libbuffer"]
	path = libbuffer
	url = ../libbuffer.git
